<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles_left">
    <app-big-card Id="1" photoCover='https://hermes.dio.me/tracks/a123a707-54de-4a67-88ee-5c129beb14d7.png' cardTitle='Potência Tech Angular Developer' cardDescription="O Potência Tech powered by iFood voltou com tudo e agora traz um Bootcamp focado em Angular! Com cursos, desafios de projeto, desafios de código e mentorias exclusivas, o Bootcamp Potência Tech Angular Developer - Powered by iFood traz uma experiência completa para você que quer dar um pontapé na carreira tech!">
    </app-big-card>
  </div>
  <div class="articles_right">
    <app-small-card Id="2" cardTitle="Módulos Angular" photoCover="https://hermes.digitalinnovation.one/certificates/cover/E38C1377.jpg"></app-small-card>
    <app-small-card Id="3" cardTitle="Single Page Application com Angular" photoCover="https://hermes.digitalinnovation.one/certificates/cover/B2CC50C3.jpg"></app-small-card>
    <app-small-card Id="4" cardTitle="LifeCycle Hooks Angular" photoCover="https://hermes.digitalinnovation.one/certificates/cover/D6BB1702.jpg"></app-small-card>

  </div>
</div>